@charset "UTF-8";
#jjim  input {
  position: absolute;
  left: -100vw;
}

#jjim  label {
  color: #aab8c2;
  cursor: pointer;
  font-size: 1.2em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

#jjim > label:hover {
  color: grey;
}

#jjim > label::selection {
  color: none;
  background: transparent;
}

#jjim > label::moz-selection {
  color: none;
  background: transparent;
}

#jjim > input:checked + label {
  color: #6c7ae0;
  will-change: font-size;
  /* animation: heart 1s cubic-bezier(.17, .89, .32, 1.49); */
}



@keyframes heart {0%, 17.5% {font-size: 0;}}